extends ./layout
block content
    h1 #{title}
    p
        a.button(href='books/new') Create New Book
    p
        | Filters
        a(href='/books') All
        |
        a(href='/books?filter=overdue') Overdue
        |
        a(href='/books?filter=checked_out') Checked Out
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            each overdueBook in overdueBooks
                tr
                    td
                        a(href=`/books/${overdueBook.id}`)= overdueBook.title
                    td= overdueBook.author
                    td= overdueBook.genre
                    td= overdueBook.first_published
